POSTGRES_USER=clinika
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD
POSTGRES_DB=clinika
JWT_ACCESS_SECRET=CHANGE_ME_ACCESS_SECRET
JWT_REFRESH_SECRET=CHANGE_ME_REFRESH_SECRET
OWNER_NAME=Super Admin
OWNER_LOGIN=admin
OWNER_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
COOKIE_SECURE=false
